body{
    /* background-color: tomato; */
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.continar{
    flex: 1;
}
 /* navbar  */
 .navbar{
    height: 5rem;
    background-color: white;
 }
 .fa-compass{
    color: #fe424d;
    font-size: 2rem;
 }
 .nav-link{
    color: #222222 !important;
 }

/* footer  */
.f-info-link a{
    text-decoration: none;
    color: #222222;
    margin-left: 1rem;
}
.f-info-link a:hover{
    text-decoration: underline;
}
.f-info-link, 
.f-info-social,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-social i{
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.f-info{
    margin-bottom: 0vh;
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.main-h1{
    margin-left: 40px;
}

/* card */
.main-card{
    margin: 0px 30px 30px 30px !important;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* new page & edit page */
.add-btn{
    background-color: #fe424d !important ;
    border: none !important;
}

/* show page */
.show-img{
    height: 40vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}